body {
    background-color: #222;
    font-family: Lato;
}

.App {
    margin: 0 auto;
    max-width: 960px;
}

.App-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 15px 0 5px;
}

.logo {
    pointer-events: none;
    width: 200px;
    height: 55px;
}

.score {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
}

.nav-bar div {
    background-color: #008966;
    border-color: #007c5d;
    flex: auto;
    text-align: center;
}

.nav-bar p {
    padding: 8px 12px;
    margin: 0;
    color: #ffffff;
}


.block-question {
    display: flex;
    padding: 1rem;
    margin-bottom: 25px;
    background-color: #303030;
    border-radius: 0.25rem
}

.bird-image {
    width: 200px;
    height: 155px;
    border-radius: 10px;
    margin: 0;
}

.block-audio {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    flex: auto;
    position: relative;
}
.block-audio div:first-child {
    border-bottom: 1px solid #444;
}

.block-audio h3 {
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0 0 21px 0;
}

.block-audio span{
    display: block;
    position: absolute;
    z-index: 1;
    background: #303030;
}

.block-audio span:nth-child(1){
    width: 22px;
    height: 70px;
}

.block-audio span:nth-child(2) {
    width: 50px;
    height: 14px;
}

.block-audio span:nth-child(3) {
    width: 50px;
    height: 14px;
    bottom: 41px;
}

.block-audio span:nth-child(4) {
    width: 28px;
    height: 64px;
    right: -2px;
}

audio {
    background-color: #303030;
    outline: none;
    width: 100%;
    padding-top: 10px;
}

audio::-webkit-media-controls-panel {
    background-color: #303030;
    border: 1px solid #303030;
    outline: none;
}

/*answer_selection_block*/

.block-answer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block-answer-selection {
    max-width: 50%;
    flex: auto;
    padding-right: 15px;
}

.block-answer-selection div {
    padding: .87rem 1.25rem;
    background-color: #303030;
    border-top: 1px solid #555;
    border-right: 1px solid #555;
    border-left: 1px solid #555;
}

.block-answer-selection div:last-child {
    border-bottom: 1px solid #555;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.block-answer-selection div:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.block-answer-selection p {
    margin: 0;
    color: #ffffff;
    display: inline-block;
}

.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 15px;
    transition: .1s;
    background-color: #444;
}

/*bird_description_block*/

.block-description-bird {
    max-width: 50%;
    display: flex;
    padding-left: 15px;
    display: flex;
    flex: 1 1 auto;
}

.wrapper-description {
    border: 1px solid #444;
    padding: 16px;
    border-radius: 0.25rem;
    background-color: #303030;
    width: 100%;
}

.wrapper-description p {
    color: #ffffff;
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
}

.block-img-name-bird {
    display: flex;
    flex-direction: row;
}

.block-img-name-bird div:last-child {
    flex: auto;
}

.block-img-name-bird img {
    margin-right: 32px;
}

.block-img-name-bird h4 {
    color: #ffffff;
    font-size: 22.5px;
    margin: 0 0 8px 0;
    padding: 4px;
    font-weight: 500;
}

.block-img-name-bird p {
    padding: 4px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}

/*footer*/

.footer_button{
    width: 100%;
    margin: 25px 0px;
    background-color: #303030;
    border: 1px solid #444;
    color: #fff;
    padding: 6px 12px;
    transition: .3s;
    border-radius: 0.25rem;
}


.select-question{
    background-color: #00bc8c;
}

.select-answer{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 7px;
    border-radius: 50%;
    background: #444444;
}

.select-answer-right{
    background: #00bc8c;
}
.select-answer-wrong{
    background: red;
}

.circleColor{

}

.wrapper-description-size{
    width: 100%;
}

.audio_teg{
    display: none;
}

/*finish_block*/

.finish-block{
    text-align: center;
    color: white;
    background-color: #303030;
    border-radius: 0.3rem;
    padding: 4rem 13rem;
    position: relative;
}

.finish-block h1{
    font-size: 4.5rem;
    line-height: 1.2;
    margin: 0;
}

.finish-block p{
    font-size: 18px;
    line-height: 1.2;
}

.finish-block button{
    margin-top: 30px;
    background-color: #00bc8c;
    border: none;
    border-radius: 3px;
    padding: 10px 193px;
    color: white;
    font-size: 15px;
    outline: none;
}